# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

#kiro
.kiro

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Environment variables
.env

# OS
.DS_Store
Thumbs.db
